@font-face {
    font-family: "Roboto";
    src: url("../fonts/Roboto.ttf")}

body{
    font-size: 16px;
    color: #26272D;
    font-family: "Roboto";
    text-align: center;
    vertical-align: center;
    word-wrap:break-word;}

a{
    text-decoration: none;
    color:#26272D;}

a:hover{
    text-decoration: none;}

ul {
    list-style-type: none;
    float:none;
    padding-top:10px;
    font-weight: 900;
    color:grey;}

li {
    list-style-type: none;
    float:none;
    padding-top:10px;
    font-weight: 700;
    color:grey;}

h1{
    font-size: 40px;
    font-weight: 800;
}

col-xs-4{
    height:200px;
}


                /*start navbar-fixed-top*/
.navbar-fixed-top{
    padding-top: 60px;
    height: auto;
    margin: 0 auto;
    color:grey;
    background:none;
    -webkit-transition: all 0.3s ease;
    transition: all 0.3s ease;}

.navbar-fixed-top.sticky{
    background-color:white;
    padding-top: 35px;
    position:fixed;
    height: auto;
    margin: 0 auto;
    -webkit-box-shadow: 1px 9px 15px -9px rgba(0,0,0,0.63);
    -moz-box-shadow: 1px 9px 15px -9px rgba(0,0,0,0.63);
    box-shadow: 1px 9px 15px -9px rgba(0,0,0,0.63);}

.navbar-toggle {
    width: 100%;
    margin: 0 auto !important;}

.hidden-menu {
    display: block;
    position: fixed;
    padding: 10px;
    margin: 0;
    box-sizing: border-box;
    width: 300px;
    background-color: blue;
    color:white;
    height: 100%;
    top: 0;
    left: -300px;
    transition: left .5s;
    z-index: 2;}

.hidden-menu-ticker {
  display: none;}

.btn-menu {
    color: black;
    cursor: pointer;
    z-index: 0;}

.hidden-menu-ticker:checked ~ .hidden-menu {
  left: 0px;
}
.btn-blue{
    width: 110px;
    height: 40px;
    border-radius: 100px;
    background-color:#267DF4;
    color:white;}
                /*end navbar-fixed-top*/

                    /*start section_1*/
#section_1{
    background:url("../images/banner.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    overflow: hidden;
    max-height: 1000px;}
       
.What{
    padding-top: 202px;
    font-size: 100px;
    font-weight: bold;
    margin: 0 auto;} 

.Sight {
    padding-top: 55px;
    margin: 0 auto;
    color:grey;}

.button_1{
    height: 50px;
    margin-top: 62px;
    border:grey;}

.btn-lg{
    color:black;
    border:0.2px solid grey;
    width: auto;
    border-radius: 100px;}

.header_iphone{
    padding-top: 55px;
    overflow:hidden;
    position:sticky;}

                    /*end section_1*/

                    /*start section_2*/

#section_2 {
   margin: 0px  auto 240px auto; /*Отступ от верхнего, правого, нижнего и левого края.*/
   text-align: center;
   vertical-align: middle;
   height: auto;}


                    /*end section_2*/

                    /*start section_3*/

#section_3 {
    margin: 0px  auto 440px auto; /*Отступ от верхнего, правого, нижнего и левого края.*/
    height: auto;}

.btn-primary{
    background-color:#267DF4;
    color:white;}

.iphone-feature{
    position: absolute;
    right: 30%;}

.iphone-feature_wrap{
    padding-top:270px;}

.button_2{
    min-width:200px;
    padding:0px;
    padding-right:30px;
    margin:0px;
    float:left;}

.button_3{
    padding:0px;
    margin:0px;}
                    /*end section_3*/
                        
                    /*start section_4*/

#section_4{
    margin: 0px  auto 220px auto;}/*Отступ от верхнего, правого, нижнего и левого края.*/
    
                    /*end section_4*/

                    /*start section_5*/
#section_5{
    background-color:#F4F4F5;}

.iphone-screens{
    background-color:#F4F4F5;
    margin: 0px  auto 45px auto;} /*Отступ от верхнего, правого, нижнего и левого края.*/

#Beautiful_Interface{
    margin:0 auto;}

#line{
    width:50px;
    margin: 45px  auto 45px auto; /*Отступ от верхнего, правого, нижнего и левого края.*/
    border-bottom:4px solid blue;}

#Landing_Screen{
    color:#8c8f94;}

.img-1,.img-2,.img-3,.img-4,.main-img{
    padding-top: 0px;
    margin: 0 auto;}

.img-1,.img-2,.img-3,.img-4{
    box-shadow: 7px 8px 22px -13px grey;}

.image-list{
    margin: 0px  auto 180px auto; /*Отступ от верхнего, правого, нижнего и левого края.*/
    min-width: 1800px;
    display: block;
    white-space: nowrap;
    background-color: #F4F4F5;
    transform:translateX(-17%);}

.Ready_to_buy{
    background-color: #F4F4F5;
    margin: 0px auto; /*Отступ от верхнего, правого, нижнего и левого края.*/
    height:240px;}

#NEW{
    font-weight: 800;}

.button_4{
    border: 1px solid grey;
    padding:0;
    width: 500px;
    height: 50px;
    float:left;
    -webkit-border-radius: 100px;
    -moz-border-radius: 100px;
    border-radius: 100px;}

.button_5{
    padding:0;
    right: 4px;
    top:4px;
    border: none;
    background-color: #6FC754;
    color: white;
    position: absolute;
    width: 163px;
    height: 42px;
    -webkit-border-radius: 100px;
    -moz-border-radius: 100px;
    border-radius: 100px;}

.button_6{
    margin: 50px auto 0px auto;/*Отступ от верхнего, правого, нижнего и левого края.*/
    padding:0px;
    width: 500px;
    position:relative;
    clear: both;}

.Ready_to_buy_2{
    margin: 0px auto 130px auto;}/*Отступ от верхнего, правого, нижнего и левого края.*/

#OR_DOWNLOAD_FROM{
     padding-top:65px;}

.app-store-download{
    margin: 0 auto;
    background-color: black;
    width:210px;
    -webkit-border-radius: 100px;
    -moz-border-radius: 100px;
    border-radius: 100px;}

                /*end section_5*/

                /*start section_6*/
              /*------carousel--------*/
.carousel-control,.carousel-control:hover {
    filter: none;
    text-shadow: none;
    color:grey;
    font-weight: 100;}

.carousel-control.left,.carousel-control.right {
    background-image: none;}

.carousel .item {
     -webkit-transition: 2s;
     -moz-transition: 2s;
     -o-transition: 2s;
     transition: 2s;
     left: 0 !important;}

 .carousel .next.left,.carousel .prev.right {
 opacity: 1;
 z-index: 1;}
 
 .carousel .carousel-control {
 z-index: 1000;}

.semi{
    opacity: 0.5;
    border-radius: 300px;
    width: 7%;
    height: 7%;}

.round{
    -webkit-border-radius: 10000px;
    -moz-border-radius: 10000px;
    border-radius: 10000px;}

/*-----rating---------*/

.star{
    width:2%;
    height:2%;}


                    /*end section_6*/
              /*------end  carousel--------*/


                     /*start section_7*/

#section_7 {
    background-color:#F4F4F5;
    margin: 160px  auto 70px auto;}/*Отступ от верхнего, правого, нижнего и левого края.*/
    
.vsepole {
    padding-bottom:75px;
    margin: 0 auto;
    position:relative;}

.Choose{
    margin-top: 205px;
    margin-bottom: 65px;
}
.Thus{
margin-bottom: 50px;
color: grey;
}
.Starter {
    padding-top: 65px;
    margin-top: 160px;
    margin-bottom: 200px;
    height: 550px;
    background-color: white;
    border-radius: 10px;
    float:left;
    width: 335px;
    position: relative;
    -webkit-box-shadow: 11px 9px 30px -9px rgba(0,0,0,0.63);
    -moz-box-shadow: 11px 9px 30px -9px rgba(0,0,0,0.63);
    box-shadow: 11px 9px 30px -9px rgba(0,0,0,0.63);
    z-index: 1}


.Pro {
    padding-top: 45px;
    margin-top: 180px;
    margin-bottom: 200px;
    float:left;
    height: 510px;
    width: 335px;
    background-color: #EBEBED;
    border-radius: 10px;
    position: relative;}

.Build{
    color: grey;
    margin: 30px auto 60px auto;}

.button_free {
    display: block;
    margin: 30px auto 60px auto;
    width: 60px;
    height: 30px;
    border:1px solid lightgrey;
    -webkit-border-radius: 100px;
    -moz-border-radius: 100px;
    border-radius: 100px;}

.Events{
    min-height: 100px;
    margin-bottom: 50px;
}

.lock{
    color: #6FC754;}

#talk{
    color:blue;}

.btn_starter{
    padding-top:2%;
    color:white;
    margin: 0 auto;
    height:40px;
    width: 210px;
    background-color: blue;
    border-radius: 300px;
    border:none;
}
                    /*section_7*чекбокс*/

#payt2 {
    display: none;}

[for="payt2"] {
    position: relative;
    display: block;
    width: 245px;
    height: 51px;
    padding: 15px;
    border-radius: 50px;
    color: black;
    cursor: pointer;
    background-color: none;
    border:0.5px solid grey;
    -webkit-border-radius: 100px;
    -moz-border-radius: 100px;
    border-radius: 100px;
    z-index: 2;}

[for="payt2"]:after {
    content: "";
    position: absolute;
    left: 2px;
    top:2px;
    display: block;
    width: 116px;
    height: 45px;
    border-radius: 50px;
    background: white;
    transition: .5s;
    -webkit-border-radius: 100px;
    -moz-border-radius: 100px;
    border-radius: 100px;}

#payt2:checked ~ [for="payt2"]:after {
    left: 125px;}

.Individual{
    z-index: 1;
    left: 20px;
    top:12px;
    position: absolute;
    height: 42px;
    float:left;}

.Company{
    z-index: 1;
    right: 20px;
    top:12px;
    position: absolute;
    height: 42px;}

                    /*END *section_7*чекбокс*/


                /*start section_8*/
#section_8 {
    margin: 0px  auto 130px auto;}/*Отступ от верхнего, правого, нижнего и левого края.*/

.Subscribe{
    border-bottom: 1px solid grey;
    padding-bottom: 80px;
    margin: 0px auto;}

                /*end section_8*/


                 /*start footer*/

.container_footer{
    border-top:0.2px solid grey;
    padding: 40px auto 40px auto;}/*Отступ от верхнего, правого, нижнего и левого края.*/

.app-store-download_2{
    background-color: black;
    width:140px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;}


                /*end footer*/


@media screen and (max-width:769px){
    .Starter, .Pro {
        width:250px;
    }
    
    
    .navbar-fixed-top.sticky {
 background-color:white;
    padding-top: 0px;
    position:fixed;
    height: 40px;
    margin: 0px;
    -webkit-box-shadow: 1px 9px 15px -9px rgba(0,0,0,0.63);
    -moz-box-shadow: 1px 9px 15px -9px rgba(0,0,0,0.63);
    box-shadow: 1px 9px 15px -9px rgba(0,0,0,0.63);}
    }
    
}
 @media screen and (max-width:321px){
      @media screen and (max-width:481px){
