body {
    font-size: 16px;
    color: #26272D;
    font-family: 'Roboto', sans-serif;
    -webkit-font-smoothing: antialiased;
    text-align: center;
    vertical-align: center;
    word-wrap:break-word;
    overflow-x:  hidden;}

p{
    color:#8C8F94;}

a { color:#26272D;
    outline:none !important;}

a:hover{
    text-decoration: none;
    color:#267DF4;}

ul {
    list-style-type: none;
    float:none;
    font-weight: 900;
    color:#8C8F94;}

li {
    list-style-type: none;
    float:none;
    font-weight: 700;
    color:#8C8F94;}

h1{
    font-size: 44px;
    font-weight: 400;}

                /*start navbar-fixed-top*/
.navbar-fixed-top{
    padding-top: 60px;
    height: auto;
    margin: 0 auto;
    color:#8C8F94;
    background-color:white;
    -webkit-transition: all 0.3s ease;
    transition: all 0.3s ease;}

.navbar-fixed-top.sticky{
    background-color:white;
    padding-top: 35px;
    position:fixed;
    height: auto;
    margin: 0 auto;
    -webkit-box-shadow: 1px 9px 15px -9px rgba(0,0,0,0.63);
    -moz-box-shadow: 1px 9px 15px -9px rgba(0,0,0,0.63);
    box-shadow: 1px 9px 15px -9px rgba(0,0,0,0.63);}

.navbar-fixed-top ul li i, .navbar-fixed-top ul li a{
   font-weight: 500;}

.navbar-toggle {
    width: 100%;}

.hidden-menu {
    display: block;
    position: fixed;
    padding-top: 50px;
    padding-left: 10px;
    box-sizing: border-box;
    width: 300px;
    background-color: black;
    height: 100%;
    top: 0;
    left: -300px;
    transition: left 1s;
    z-index: 2;
    overflow: auto;}

.socials a{
    color: white;
    padding:10px;}

.socials a:hover{
    color: #267DF4;}

.hidden-menu li,p a{
    color: white;}

.hidden-menu li,p a:hover{
    color: #267DF4;}

.logo_1 {
    margin-right: 70px;
    margin-left: 15px;}

.hidden-menu .btn-blue{
    color: white;
    margin-top:10px;}

.hidden-menu .btn-blue:hover{
    color: white;}

.hidden-menu .btn-menu {
    padding-bottom:40px;
    background-color: black;}

.hidden-menu .btn-menu i {
    color:white;}

.hidden-menu .btn-menu i:hover {
    color:#267DF4;}

.hidden-menu-ticker {
    display: none;}

.hidden-menu-ticker:checked ~ .hidden-menu {
    left: 0px;}

.btn-blue{
    position: relative;
    padding-top: 9px;
    margin-top: -7px;
    width: 130px;
    height: 38px;
    border-radius: 100px;
    background-color:#267DF4;
    color:white;}

.btn-blue:visited {
    color:white;}

.btn-blue:hover {
    color:white;}

.more-info ul{
    color:white;}

.more-info ul a{
    color:#267DF4;}

.more-info ul a:hover{
    color: #23527C;}

.more-info ul a:hover{
    opacity: 100;}

.slide_out_menu_footer{
    margin-top: 300px;}

.navbar-fixed-top li{
     padding:0px 20px;}

.checkbox{
    width:60px;
    float:left;
    margin:0px;
    padding:0px;}
                    /*start section_1*/
#section_1{
    background:url("../images/banner.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    overflow: hidden;
    max-height: 1000px;}
       
.What{
    padding-top: 202px;
    margin: 0 auto;} 

.Sight {
    padding-top: 55px;
    margin: 0 auto;
    color:#8C8F94;}

.button_1{
    height: 50px;
    margin-top: 62px;
    border:#8C8F94;}

.btn-lg{
    color:black;
    border:0.2px solid #8C8F94;
    width: auto;
    border-radius: 100px;}

.header_iphone{
    padding-top: 55px;
    overflow:hidden;
    position:sticky;
    max-width: 100%;}

                    /*end section_1*/

                    /*start section_2*/

#section_2 {
   margin: 125px  auto 240px auto; /*Отступ от верхнего, правого, нижнего и левого края.*/
   text-align: center;
   vertical-align: middle;
   border-bottom: 1px solid #F4F4F4;
    padding-bottom: 125px;}

#section_2 h2 {
    font-weight: lighter;
    margin: 46px  auto 46px auto;} /*Отступ от верхнего, правого, нижнего и левого края.*/

#section_2 p {
    color: #8C8F94;
    margin: 38px  auto 38px auto;}
                    /*end section_2*/

                    /*start section_3*/
#section_3 {
    margin: 0px  auto 440px auto; /*Отступ от верхнего, правого, нижнего и левого края.*/
    height: auto;}

.btn-primary{
    background-color:#267DF4;
    color:white;}

.iphone-feature{
    top:-100px;
    position: absolute;
    right: 15%;}

.iphone-feature_wrap{
    padding-top:px;}

.button_2{
    min-width:200px;
    padding:0px;
    padding-right:30px;
    margin:0px;
    float:left;}

.button_3{
    padding:0px;
    margin:0px;}

.btn-primary:hover, .btn-primary:visited{
    background: #267DF4;}
                  /*end section_3*/
                        
                    /*start section_4*/

#section_4{
    margin: 0px  auto 220px auto;}/*Отступ от верхнего, правого, нижнего и левого края.*/
    
                    /*end section_4*/

                    /*start section_5*/
#section_5{
    background-color:#F4F4F5;
    padding-top: 145px;}

.iphone-screens{
    background-color:#F4F4F5;
    margin: 0px  auto 45px auto;} /*Отступ от верхнего, правого, нижнего и левого края.*/

#Beautiful_Interface{
    margin:0 auto;}

#line{
    width:50px;
    margin: 50px auto 45px auto; /*Отступ от верхнего, правого, нижнего и левого края.*/
    border-bottom:4px solid #267DF4;}

#Landing_Screen{
    color:#8c8f94;
    margin: 0px auto 45px auto;}

.img-1,.img-2,.img-3,.img-4,.main-img{
    padding-top: 0px;
    margin: 0 auto;}

.img-1,.img-2,.img-3,.img-4{
    box-shadow: 7px 8px 22px -13px #8C8F94;}

.image-list{
    margin: 0px  auto 200px auto; /*Отступ от верхнего, правого, нижнего и левого края.*/
    min-width: 1800px;
    display: block;
    white-space: nowrap;
    background-color: #F4F4F5;
    transform:translateX(-17%);}

.Ready_to_buy{
    background-color: #F4F4F5;
    margin: 0px auto; /*Отступ от верхнего, правого, нижнего и левого края.*/
    height:240px;}

.Ready_to_buy p {
    color:#8C8F94;}

#NEW{
    font-weight: 800;
    color:#8C8F94;}

.button_4{
    border: 1px solid #8C8F94;
    padding:0;
    width: 500px;
    height: 50px;
    float:left;
    -webkit-border-radius: 100px;
    -moz-border-radius: 100px;
    border-radius: 100px;}

.button_5{
    padding:0;
    right: 4px;
    top:4px;
    border: none;
    background-color: #6FC754;
    color: white;
    position: absolute;
    width: 163px;
    height: 42px;
    -webkit-border-radius: 100px;
    -moz-border-radius: 100px;
    border-radius: 100px;}

.button_6{
    margin: 50px auto 0px auto;/*Отступ от верхнего, правого, нижнего и левого края.*/
    padding:0px;
    width: 500px;
    position:relative;
    clear: both;}

.Ready_to_buy_2{
    margin: 0px auto 130px auto;}/*Отступ от верхнего, правого, нижнего и левого края.*/

#OR_DOWNLOAD_FROM{
     padding-top:65px;
    color:#8C8F94;}

.btn-dark {
    background-color: #131315;
    color: white;
    margin: 0 auto;
    width: 210px;
    height: 60px;
    -webkit-border-radius: 100px;
    -moz-border-radius: 100px;
    border-radius: 100px; }

.btn-dark:hover, .btn-dark:focus {
  color: white;}

.btn-dark i {
    position:absolute;
    font-size: 30px; 
    margin-left:-85px;
    margin-top:7px;}

.btn-dark p{
   font-size: 12px;
    padding-top: 2px;
    margin: 0px;
    font-weight: 500;}/*Отступ от верхнего, правого, нижнего и левого края.*/

.btn-dark h4{
    font-size: 22px;
    padding: 0px;
    margin: 0px;}
                /*end section_5*/

                /*start section_6*/
              /*------carousel--------*/
#section_6{
    background-color: #FFFFFF;
    height: 750px;}

#myCarousel .item {
    padding-top:640px;}

.carousel-caption{
    max-width: 570px;
    margin: 0 auto;
    padding: 0px;}

.carousel-caption #kit{
    margin:0px;
    padding-bottom: 60px;
    color:black;
    font-size: 23px;}

.carousel-caption #just{
    margin:0px;
    padding-bottom: 12px;
    color: #8C8F94;
    font-size: 16px;
    line-height: 18px;
    font-weight:lighter;}

.carousel-caption p{
    margin:0px;
    color: black;
    font-size: 10px;
    font-weight: 500;}

.rating-wrapper{
    padding-top: 35px;
    padding-bottom: 70px;}

.rating-wrapper .gold-star{
    color: #F2BC3B;}

.rating-wrapper i{
    color: #8C8F94;
    font-size: 22px;
    font-weight: lighter;}

.carousel-control,
.carousel-control:hover {
    filter: none;
    text-shadow: none;
    color:#8C8F94;
    font-weight: 100;}

.carousel-control.left,
.carousel-control.right {
    background-image: none;}


/*-----rating---------*/

.carousel-indicators {
    top:130px;
    position:absolute;}

.slide_0, .slide_1, .slide_2 {
    -webkit-border-radius: 10000px;
    -moz-border-radius: 10000px;
    border-radius: 10000px;
    width: 90px;
    height: 90px;
    opacity: 0.2;
    margin-left: 35px;
    margin-right: 35px;}

.slide_0.active, .slide_1.active, .slide_2.active {
    -webkit-border-radius: 10000px;
    -moz-border-radius: 10000px;
    border-radius: 10000px;
    width: 130px;
    height: 130px;
    opacity: 1.0;
    margin-left: 35px;
    margin-right: 35px;
    -webkit-box-shadow: 19px 29px 57px -22px rgba(0,0,0,0.6);
    -moz-box-shadow: 19px 29px 57px -22px rgba(0,0,0,0.6);
    box-shadow: 19px 29px 57px -22px rgba(0,0,0,0.6);}
                    /*end section_6*/
              /*------end  carousel--------*/


                     /*start section_7*/

#section_7 {
    background-color:#F4F4F5;
    padding: 160px  auto 70px auto;}/*Отступ от верхнего, правого, нижнего и левого края.*/
    
#section_7 p {
    color:#8C8F94;}

.vsepole {
    padding-bottom:75px;
    margin: 0 auto;
    position:relative;}

.Choose{
    margin-top: 205px;
    margin-bottom: 65px;}

.Thus{
    margin-bottom: 50px;
    color: #8C8F94;}

.Starter {
    padding-top: 65px;
    margin-top: 160px;
    margin-bottom: 200px;
    height: 550px;
    background-color: white;
    border-radius: 10px;
    width: 340px;
    -webkit-box-shadow: 11px 9px 30px -9px rgba(0,0,0,0.63);
    -moz-box-shadow: 11px 9px 30px -9px rgba(0,0,0,0.63);
    box-shadow: 11px 9px 30px -9px rgba(0,0,0,0.63);
    position:relative;
    z-index: 1;
    float: left;}

.Pro {
    margin-left:-50px;
    padding-top: 45px;
    margin-top: 180px;
    margin-bottom: 200px;
    height: 510px;
    width: 330px;
    background-color: #EBEBED;
    border-radius: 10px;
    position:relative;
    float: left;}

#section_7 .Starter p, #section_7 .Pro p  {
    color:black;}

.Build{
    color: #8C8F94;
    margin: 30px auto 60px auto;}

.button_free {
    padding-top:3px;
    display: block;
    margin: 30px auto 60px auto;
    width: 60px;
    height: 30px;
    border:1px solid lightgrey;
    -webkit-border-radius: 100px;
    -moz-border-radius: 100px;
    border-radius: 100px;}

.Events {
    min-height: 100px;
    margin-bottom: 50px;}

.lock {
    color: #6FC754;}

#talk {
    color:#267DF4;
    text-decoration: underline #267DF4;}

.btn_starter {
    padding-top:2%;
    color:white;
    margin: 0 auto;
    height:40px;
    width: 210px;
    background-color: #267DF4;
    border-radius: 300px;
    border:none;}

.btn_starter a {
    color:white;
    font-weight: bold;}

.btn_starter a:hover{
    text-decoration: none;}

.btn_pro{
    padding-top:2%;
    color:#267DF4;
    margin: 0 auto;
    height:40px;
    width: 210px;
    background-color: white;
    border-radius: 300px;
    border:1px solid #267DF4;}

.btn_pro a{
    color:#267DF4;
    font-weight: bold;}

.btn_pro a:hover{
    text-decoration: none;}

.btn_starter, .btn_pro {
    padding-top:8px;
}

               /*section_7*чекбокс*/

#payt2 {
    display: none;}

[for="payt2"] {
    position: relative;
    display: block;
    width: 245px;
    height: 51px;
    padding: 15px;
    border-radius: 50px;
    color: black;
    cursor: pointer;
    background-color: none;
    border:0.5px solid lightgrey;
    -webkit-border-radius: 100px;
    -moz-border-radius: 100px;
    border-radius: 100px;
    z-index: 2;}

[for="payt2"]:after {
    content: "";
    position: absolute;
    left: 2px;
    top:2px;
    display: block;
    width: 116px;
    height: 45px;
    border-radius: 50px;
    background: white;
    transition: .5s;
    -webkit-border-radius: 100px;
    -moz-border-radius: 100px;
    border-radius: 100px;
    -webkit-box-shadow: 1px 0px 42px -3px rgba(0,0,0,0.75);
    -moz-box-shadow: 1px 0px 42px -3px rgba(0,0,0,0.75);
    box-shadow: 1px 0px 42px -3px rgba(0,0,0,0.75);}

#payt2:checked ~ [for="payt2"]:after {
    left: 125px;}

.Individual{
    z-index: 1;
    left: 20px;
    top:12px;
    position: absolute;
    height: 42px;
    float:left;}


.Company{
    z-index: 1;
    right: 20px;
    top:12px;
    position: absolute;
    height: 42px;}
                    /*END *section_7*чекбокс*/

                /*start section_8*/
#section_8 {
    margin-top: 90px;}/*Отступ от верхнего, правого, нижнего и левого края.*/

#section_8 p {
    color:#8C8F94;}

.Subscribe{
    border-bottom: 1px solid #F4F4F4;
    padding-bottom: 80px;
    margin: 0px auto;}

                /*end section_8*/

                 /*start footer*/
.footer{
    margin-top:90px;
    padding-bottom: 130px;}

.footer li a{
    color: #8C8F94;}

.footer li a:hover{
    color: #267DF4;}

.footer li p{
    color: black;}

.footer .col-md-3 ul li {
    padding:0px;
    margin-right: 25px;}

.footer .col-md-2 li{
    padding:0px;
    margin-bottom: 25px;
    white-space: nowrap;}

.footer #NEW {
    color:black;}

.footer #IT{
    color: #8C8F94;}

.container_footer{
    border-top: 1px solid #F4F4F4;
    margin-top: 130px;}

.app-store-download_2{
    background-color: black;
    width:140px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;}

.footer .more-info {
    line-height: 24px;
    font-size: 14px;
    color: #8C8F94;
    margin-top:35px;}

.footer .more-info a{
    color: #267DF4;
    text-decoration: underline;}

.footer .made-by {
    font-size: 9px;
    font-weight: 700;
    line-height: 22px;
    text-transform: uppercase;
    letter-spacing: 0.1em;
    margin-top:30px;}       

/*end footer*/


@media only screen and (max-width:1200px){   
    .image-list{
        transform:translateX(-22%);}
    
   .Starter, .Pro {
       width: 275px;}  
    
    .slide_0, .slide_1, .slide_2  {
        width: 50px;
        height: 50px;
        margin: 8%;}
    
    #myCarousel .item {
        padding-top:auto;}

    .slide_0.active, .slide_1.active, .slide_2.active{
        width: 72px;
        height: 72px;
        margin: 8%;}
  }


@media only screen and (max-width:1000px){
    .Starter, .Pro {
        width: 325px;
        margin-left:auto;}
    
    .navbar-fixed-top.sticky {
        background-color:white;
        padding-top: 10px;
        position:fixed;
        height: 40px;
        margin: 0px;}
    
     .iphone-feature{
        position: relative;
        max-width: 95%;
        max-height: 95%;
        padding-top:30px;
        right:0%;}
    
    .iphone-feature_wrap{
        padding-top:0px;}

        #section_2 {
        margin-top:0px;
        margin-bottom: 50px;
        padding-bottom:0px;} 
    
    #section_3 {
        padding-top:10%;
        padding-bottom: 10%;
        margin-bottom:50px;}
    
    #section_4 {
        margin-bottom:50px;}
    
    .image-list{
        transform:translateX(-22%);}
    
    .navbar-fixed-top .col-xs-4:last-child {
        display: none;}
    
    .navbar-fixed-top .col-xs-4 ul li a:first-child {
        display: none;}
        
     .slide_out_menu_footer{
         margin-top: 40%;}
    
      .map {
        top: 25px;
        max-width: 99%;
        max-height: 99%;}
    
    .footer .col-md-2 {
        min-width:30%;
        float: left;
        margin-top:20px;}
} 



@media only screen and (max-width:980px){   
    .image-list{
        transform:translateX(-28%);}
}


@media only screen and (max-width:620px){   
    .image-list{
        transform:translateX(-32%);}
    
    .slide_0, .slide_1, .slide_2  {
        width: 30px;
        height: 30px;
        margin: 5%;}
    
    #myCarousel .item {
        padding-top:650px;}

    .slide_0.active, .slide_1.active, .slide_2.active{
        width: 45px;
        height: 45px;
        margin: 5%;}
    
    .footer .col-md-2 li{
        margin-bottom: 10px;}
    
    .navbar-fixed-top .container {
        background: url("../images/logo.png");
        background-repeat: no-repeat;
        background-position: center 5px;
        overflow: hidden;}
    
    .navbar-fixed-top .col-xs-4:nth-child(2) {
        display: none;}
}


@media only screen and (max-width:500px){  

    .Starter, .Pro {
        width: 275px;
        padding:0 auto;
        margin:0 auto;}
    
    .button_6{
        width: auto;}
    
    .button_4{
        width: 100%;}
    
    .button_5{
       position: relative;}
}